langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone
sentence-transformers
streamlit
fastapi
uvicorn
gitpython
python-dotenv
sqlalchemy
alembic
PyJWT
bcrypt
tiktoken
pytest
